@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

  
html {
    scroll-behavior: smooth;
}

*{
  font-family: "Inter";
  
}

/* - - - - - - - -  STYLES FOR LANDING PAGE  - - - - - - - - */

  .navbar .Btns a::after
  { /* after is the child of the ancher tag */
      content: '';
      height: 2px;
      width: 0;   /* 100% will be there but  0 will go away untill we click */
      background: #EE462F;
      position: absolute ;
      left: 0;
      top: 40px ; 
      /*transition very important */
      transition: 0.5s;
  }

  .navbar .Btns a:hover::after
{    width: 100%;  
}
  
.rotate
{
  -moz-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin 
{
  100%{-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spin 
{
  100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

/* - - - - - - - -  STYLES FOR contactus FORM  - - - - - - - - */
.createform
  { 
    margin: 0 auto;
    text-align: center;
  }
   .createform label
   {
    text-align: left;
    display: block;
   }

  .createform input , .createform textarea 
   {
    width: 100% ;
    padding: 6px 8px ;
    margin: 10px 0 ;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 7px;
   }


.single-item
{
  position: relative ; 
  float: left;
}

   .single-item img 
   {
      transition: 0.7s all ;
      border-radius: 7px;
      width: 100%;
      margin-bottom: -4px ;
   }
   .single-item .trendscontent 
   {  position: absolute;
      transition: 0.7s all ;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      bottom: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.2);
      color: #fff;
      opacity: 0;

   }

   .single-item:hover .trendscontent
   {
    opacity: 1;
   }
   .single-item:hover img
   {
    filter: blur(2px) ; 
   }